/* Elements */
body {
    font-family: "Amiri", serif;
    font-weight: 400;
    font-style: normal;
}
hr {
    color: whitesmoke;
    margin: 1em 0;
}
table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #ddd;
    text-align: right;
    padding: 1rem;
    border-bottom: none;
}
th {
    border-top: none;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #eee;
}
input,
select,
textarea {
    width: 100%;
    max-width: 100%;
    font: inherit;
    color: inherit;
}
input[type="checkbox"],
input[type="radio"],
input[type="submit"],
input[type="button"] {
    width: auto;
}
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    cursor: pointer;
}
a:visited {
    color: blue;
}
/* Page structure */
.container { margin: 0 2em 0 2em }
.p-1 { padding: 1em; }
/* Colors */
.text-red { color: red; }
.text-green { color: green; }
.text-grey { color: grey; }
/* Fonts */
.t-size-2 { font-size: 2rem; }
.t-size-4 { font-size: 4rem; }
/* Flex box */
.d-flex { display: flex; }
.flex-space-around { justify-content: space-around; }
.flex-space-between { justify-content: space-between; }
/* Forms */
.form {
    background-color: #eee;
    padding: 1rem;
    width: 100%;
}
.form-group {
    margin: 1rem;
}
